{% extends 'base.html' %}


{% block content %}
{% include 'includes/header.html' %}

<div class="div container">
    <h1>lista empleados</h1>
    <form class="row justify-content-md-cente" method="GET">{% csrf_token %}
        <div class="col col-8">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar Empleados" aria-label="Buscar Empleados"
                    aria-describedby="button-addon2" id="kword" name="kword">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
            </div>
        </div>
    </form>
    <div class="row col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for e in empleados %}
                <tr>
                    <th scope="row">{{ e.id }}</th>
                    <td>{{ e.first_name }}</td>
                    <td>{{ e.last_name }}</td>
                    <td>{{ e.departamento.shor_name }}</td>
                    <td><a href="{% url 'persona_app:empleado_detail' e.id %}" class="btn btn-secondary btn-lg btn-sm"
                            tabindex="-1" role="button" aria-disabled="true">ver</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Atras">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}

                {% ifequal page page_obj.number  %}
                <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endifequal %}

                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

    </div>
</div>
{% endblock content %}